<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hri_project">

    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".ObjectRecognitionResults"></activity>
        <activity android:name=".ObjectRecognitionExercise" />

        <!-- android:theme="@style/Theme.HRI_project" -->
        <activity android:name=".GrammarActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseLevelActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ConversationActivity"
            android:parentActivityName=".ChooseLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseLevelActivity" />
        </activity>
        <activity
            android:name=".LearnVocabularyActivity"
            android:parentActivityName=".ChooseLessonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseLessonActivity" />
        </activity>
        <activity
            android:name=".ChooseLessonActivity"
            android:parentActivityName=".ChooseLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseLevelActivity" />
        </activity>
        <activity
            android:name=".SingleTermActivity"
            android:parentActivityName=".LearnVocabularyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LearnVocabularyActivity" />
        </activity>
    </application>

</manifest>